
/* Footprints Table Webnode Styles */

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px; overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-2qwx{background-color:#ffffff;border-color:#000000;color:#333333;text-align:center;vertical-align:top}
.tg .tg-7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-8h0p{background-color:#F3F3F3;text-align:left;vertical-align:bottom}
.tg .tg-9ak0{background-color:#ffffff;border-color:#000000;color:#333333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-gd2f{background-color:#FFF;border-color:inherit;text-align:left;vertical-align:bottom}
.tg .tg-kcps{background-color:#FFF;text-align:left;vertical-align:bottom}
.tg .tg-op08{background-color:#ffffff;border-color:inherit;color:#333333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-v6d7{border-color:#000000;color:#333333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-xaqf{background-color:#f3f3f3;border-color:#000000;color:#333333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-y2oe{border-color:inherit;color:#666;text-align:left;vertical-align:top}


 /* ad-hoc classes */

.fwb { font-weight:bold }
.fwn { font-weight:bold }
.bcf { background-color: #FFF}
.bcf3 { background-color: #F3F3F3}

